.yeasty-boy {
    color: beige;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.quick-lads {
    color: brown;
    font-family: ""
}

.quackers {
    color: tan;
}

.subtitle {
  color: darkgoldenrod
}